<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Portal Home Page</title>
    <link rel="stylesheet" href="{% static 'CSS/Home.css' %}">
</head>
<body>
    <div class="container">
        <!-- Register buttons at the top right -->
        <div class="top-right-buttons">
            <a href="{% url 'reg_seeker' %}"><button type="button" class="register-btn">Register as Job seeker</button></a>
            <a href="{% url 'reg_recruiter' %}"><button type="button" class="register-btn" >Register as Recruiter</button></a>
        </div>

        <!-- Welcome message -->
        <h1>WELCOME TO OUR JOB PORTAL</h1>

        <!-- Logo -->
        <div class="logo">
            <img src="{% static 'images/JOBTOAST.png' %}" alt="Job Portal Logo">
        </div>

        <!-- Buttons to choose Job Seeker or Recruiter login -->
        <a href="{% url 'login_seeker' %}"><button type="button" >Login as Job Seeker</button></a>
        <a href="{% url 'login_recruiter' %}"><button type="button" >Login as Recruiter</button></a>
    </div>
</body>
</html>
