<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Seeker Home Page</title>
    <link rel="stylesheet" href="{% static 'CSS/seeker_home.css' %}">
</head>
<body>
    <header>
        <img src="{% static 'images/JOBTOAST.png' %}" alt="Job Portal Logo" class="logo">
        <h1>Welcome to Your Dashboard</h1>
        <img src="{{ details.pic.url }}" alt="User Photo" class="user-photo">
    </header>
    <div class="container">
        <section class="profile-section">
            <h2>Your Profile</h2>
            <div class="profile-info">
                <p><strong>Name:</strong> {{ details.fname }}</p>
                <p><strong>Email:</strong> {{ details.email }}</p>
                <a href="{% url 'edt_rg_sek' details.id %}" class="btn">Edit Profile</a>
            </div>
        </section>
        
        <section class="jobs-section">
            <h2>Job Postings</h2>
            <div class="job-card">
                <p>Total Jobs Posted by Recruiters: <strong>{{ jobpost|length }}</strong></p>
                <a href="{% url 'postd_jobs' details.id %}" class="btn">View Jobs</a>
            </div>
            <!-- <div class="job-card">
                <p>Saved Jobs: {{ saved_jobs }}</p>
                <a href="" class="btn">View Saved Jobs</a>
            </div> -->
            <div class="job-card">
                <p>Jobs You've Applied For: <b>{{ applied|length }}</b></p>
                <a href="{% url 'appld_jobs' %}" class="btn">View Applications</a>
            </div>
        </section>
</body>
</html>
